*{
    padding: 0;
    margin: 0
    box-sizing:border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none
    color(black);
}
img{
    width: 100%;
}
.container {
	max-width: 1640px;
	margin: 0 auto;
	padding: 0 8px;
	width: 100%;
    
}
nav,
nav li{
    display: inline-block;
}
.article1{
    background-color: blue;
}